h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    background-color: beige;
    border-style: solid;
    border-radius: 25px;
    border-color: burlywood;
}

.cooking {
    display: grid;
    place-items: center;
}

img {
    width: 300px;
    border-radius: 25px;
}

