* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    background-color: beige;
    border-style: solid;
    border-radius: 25px;
    border-color: burlywood;
}

.cooking {
    display: grid;
    place-items: center;
}

img {
    width: 300px;
    border-radius: 25px;
}

h2 {
    text-align: center;
}

.bigger {
    text-align: center;
    font-size: larger;
    color: #3a1919;
    text-decoration: none
}

body {
    background-color: bisque;
}